{% extends "base.html" %}
{% load heroicons i18n %}

{% block content %}
  {% url 'photos:photo_list' as back_url %}
  {% url 'account_email' as email_url %}
  {% url 'account_change_password' as pw_url %}
  {% url 'socialaccount_connections' as connections_url %}
  {% url 'users:delete_account' as delete_url %}

  {% with active="menu-active" inactive="" %}

    {# Mobile dropdown nav #}
    <div class="mb-6 lg:hidden" x-data="{ open: false }">
      <button type="button"
              class="justify-between w-full btn btn-ghost"
              @click="open = !open"
              :aria-expanded="open">
        {% heroicon_mini "cog-6-tooth" class="size-4 shrink-0" aria_hidden="true" %}
        {% translate "Account Settings" %}
        {% heroicon_mini "chevron-down" class="ml-auto size-4 shrink-0" aria_hidden="true" %}
      </button>
      <ul class="mt-1 w-full rounded-lg border menu bg-base-100 border-base-200"
          x-show="open"
          x-cloak
          x-transition
          @click.outside="open = false">
        <li>
          <a href="{{ back_url }}">
            {% heroicon_mini "arrow-left" class="size-4 shrink-0" aria_hidden="true" %}
            {% translate "Back to site" %}
          </a>
        </li>
        <li class="menu-title">{% translate "Account" %}</li>
        <li>
          <a href="{{ email_url }}" class="{% active_url 'account_email' active=active inactive=inactive %}">
            {% heroicon_mini "envelope" class="size-4 shrink-0" aria_hidden="true" %}
            {% translate "Email" %}
          </a>
        </li>
        <li>
          <a href="{{ pw_url }}" class="{% active_url 'account_change_password' 'account_set_password' active=active inactive=inactive %}">
            {% heroicon_mini "lock-closed" class="size-4 shrink-0" aria_hidden="true" %}
            {% translate "Change Password" %}
          </a>
        </li>
        <li>
          <a href="{{ connections_url }}" class="{% active_url 'socialaccount_connections' active=active inactive=inactive %}">
            {% heroicon_mini "link" class="size-4 shrink-0" aria_hidden="true" %}
            {% translate "Connections" %}
          </a>
        </li>
        <li>
          <a href="{{ delete_url }}" class="text-error {% active_url 'delete_account' active=active inactive=inactive %}">
            {% heroicon_mini "trash" class="size-4 shrink-0" aria_hidden="true" %}
            {% translate "Delete Account" %}
          </a>
        </li>
      </ul>
    </div>

    {# Desktop layout: sidebar + content #}
    <div class="lg:flex lg:gap-8">
      <aside class="hidden lg:block lg:w-56 shrink-0">
        <ul class="menu">
          <li>
            <a href="{{ back_url }}">
              {% heroicon_mini "arrow-left" class="size-4 shrink-0" aria_hidden="true" %}
              {% translate "Back to site" %}
            </a>
          </li>
          <li class="menu-title">{% translate "Account" %}</li>
          <li>
            <a href="{{ email_url }}" class="{% active_url 'account_email' active=active inactive=inactive %}">
              {% heroicon_mini "envelope" class="size-4 shrink-0" aria_hidden="true" %}
              {% translate "Email" %}
            </a>
          </li>
          <li>
            <a href="{{ pw_url }}" class="{% active_url 'account_change_password' 'account_set_password' active=active inactive=inactive %}">
              {% heroicon_mini "lock-closed" class="size-4 shrink-0" aria_hidden="true" %}
              {% translate "Change Password" %}
            </a>
          </li>
          <li>
            <a href="{{ connections_url }}" class="{% active_url 'socialaccount_connections' active=active inactive=inactive %}">
              {% heroicon_mini "link" class="size-4 shrink-0" aria_hidden="true" %}
              {% translate "Connections" %}
            </a>
          </li>
          <li>
            <a href="{{ delete_url }}" class="text-error {% active_url 'delete_account' active=active inactive=inactive %}">
              {% heroicon_mini "trash" class="size-4 shrink-0" aria_hidden="true" %}
              {% translate "Delete Account" %}
            </a>
          </li>
        </ul>
      </aside>
      <div class="flex-1 min-w-0">
        {% block settings_content %}
        {% endblock settings_content %}
      </div>
    </div>

  {% endwith %}
{% endblock content %}
