{% load i18n %}
{% with has_other_pages=page.has_other_pages %}
  <div id="{{ pagination_target }}" aria-live="polite" aria-atomic="true">
    {% if has_other_pages %}
      <div class="pb-3">
        {% partial links %}
      </div>
    {% endif %}
    {{ content }}
    {% if has_other_pages %}
      <div class="pt-3">
        {% partial links %}
      </div>
    {% endif %}
  </div>
{% endwith %}

{% partialdef links %}
  <nav
    role="navigation"
    aria-label="{% translate "Pagination" %}"
    hx-swap="outerHTML show:window:top"
    hx-target="#{{ pagination_target }}"
  >
    <div class="join">
      {% if page.has_previous %}
        <a
          href="{{ request.path }}{% querystring page=page.previous_page_number %}"
          aria-label="{% translate "Previous Page" %}"
          title="{% translate "Previous Page" %}"
          class="btn btn-ghost join-item"
        >{% translate "Previous" %}</a>
      {% else %}
        <span
          class="btn btn-ghost btn-disabled join-item"
          title="{% translate "First Page" %}"
          aria-label="{% translate "First Page" %}"
        >{% translate "Previous" %}</span>
      {% endif %}
      {% if page.has_next %}
        <a
          href="{{ request.path }}{% querystring page=page.next_page_number %}"
          aria-label="{% translate "Next Page" %}"
          title="{% translate "Next Page" %}"
          class="btn btn-ghost join-item"
        >{% translate "Next" %}</a>
      {% else %}
        <span
          class="btn btn-ghost btn-disabled join-item"
          title="{% translate "Last Page" %}"
          aria-label="{% translate "Last Page" %}"
        >{% translate "Next" %}</span>
      {% endif %}
    </div>
  </nav>
{% endpartialdef links %}
