{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% include "header.html" with title=_("Edit Comment") %}
  <div class="mt-6">
    {% fragment "form.html" %}
      {{ form.comment.as_field_group }}
      {% fragment "form.html#buttons" %}
        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
        <a href="{{ comment.photo.get_absolute_url }}" class="btn btn-ghost">{% translate "Cancel" %}</a>
      {% endfragment %}
    {% endfragment %}
  </div>
{% endblock content %}
