{% extends "base.html" %}
{% load heroicons i18n %}

{% block content %}
  {% include "header.html" with title=_("Delete Photo") %}
  <div class="mt-4">
    <p>{% blocktranslate trimmed with photo=photo %}Are you sure you want to delete <strong>{{ photo }}</strong>?{% endblocktranslate %}</p>
    <form method="post" class="flex gap-3 mt-6">
      {% csrf_token %}
      <button type="submit" class="btn btn-error">
        {% heroicon_mini "trash" aria_hidden="true" %}
        {% translate "Delete" %}
      </button>
      <a href="{% url 'photos:photo_detail' photo.pk %}"
         class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
  </div>
{% endblock content %}
