{% extends "base.html" %}
{% load heroicons i18n %}

{% block scripts %}
  {{ block.super }}
  {{ form.media }}
{% endblock scripts %}

{% block content %}
  {% translate "Photo" as page_title %}
  {% include "header.html" with title=page_title %}
  {% partialdef photo-form inline %}
    <div id="photo-form">
      {% fragment "form.html" htmx=True hx_target="#photo-form" multipart=True %}
        {{ form }}
        {% fragment "form.html#buttons" %}
          <button type="submit" class="btn btn-primary">
            {% heroicon_mini "check" aria_hidden="true" %}
            {% translate "Save" %}
          </button>
          <a href="{{ cancel_url }}" class="btn btn-secondary">
            {% heroicon_mini "x-mark" aria_hidden="true" %}
            {% translate "Cancel" %}
          </a>
        {% endfragment %}
      {% endfragment %}
    </div>
  {% endpartialdef photo-form %}
{% endblock content %}
